@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Cause", cursive;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #eff3f4;
    padding: 130px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    font-size: 25px;
    color: darkviolet;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

.menu .navbar ul li a:hover {
    color: violet;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #eff3f4;
}

.borrar {
    background-color: violet;
    border-radius: 50%;
    padding: 5px 10px;
    color: #eff3f4;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    color: blueviolet;
    font-size: 17px;
    font-weight: 600;
    display: block;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: black;
    margin-bottom: 35px;
}

.header-txt p{
    font-size: 17px;
    color: rgb(76, 76, 76);
    margin-bottom: 35px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: violet;
    margin-right: 20px;
    color: #eff3f4;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    height: 550px;
}

.info {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.info-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: pink;
}

.b2 {
    background-color: #A47DAB;
}

.b3 {
    background-color: #ffc65b;
}

.info-txt {
    flex-basis: 50%;
}

.info-txt h3 {
    color: #eff3f4;
    font-size: 20px;
}

.info-txt a{
    color: #eff3f4;
}

.info-img {
    flex-basis: 50%;
}

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: black;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid violet;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px gray;
    background-color: #eff3f4;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 15px;
    color: gray;
}

.Precio {
    font-size: 17px;
    font-weight: 700;
    color: #c77bd4 !important;
    margin-bottom: 15px;
}

.btn-3, .btn-2 {
    background-color: #c77bd4;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #eff3f4;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
}

.btn-3:hover, .btn-2:hover, .btn-1:hover {
    background-color: purple;
}

.btn-3, .btn-2 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.footer {
    background-color: #A47DAB;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #eff3f4;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #b9bdbd;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
     color: #c77bd4;
}

@media (max-width:991px) {
    
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(183, 80, 164);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
       display: initial; 
    }

    .Logo {
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #eff3f4;
    }

    .submenu:hover #carrito {
        width: 100%;
    }

    .header {
        padding: 50 px 0 0 0;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: none;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-1 {
        margin-bottom: 15px;
    }
    
    .products {
        padding:  0 30px 30px 30px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}